@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --color-main         : #ffb74d;
  --color-main-light   : #fff3e0;
  --color-dark         : #5d4037;
  --color-dark-medium  : #795548;
  --color-dark-light   : #a1887f;
  --color-light        : #fafafa;
  --color-gray         : #bdbdbd;
  --color-light-gray   : #e0e0e0;
  --color-bg           : #424242;
  --color-success      : #66bb6a;
  --color-error        : #e57373;
  --opacity-white-8    : hsl(0 calc(1*0%) 100% /0.0784313725490196);
  --opacity-white-8-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
}

.LT-1 {
  --color-main       : #71dadd;
  --color-main-light : #e1f6fb;
  --color-dark       : #3f5556;
  --color-dark-medium: #516e6d;
  --color-dark-light : #699297;
  --color-light      : #e5e5e5;
  --color-gray       : #8b8b8b;
  --color-light-gray : #b2bdbd;
  --color-bg         : #2d3339;
  --color-success    : #5dd693;
  --color-error      : #fc4b0b;
}

.LT-2 {
  --color-main       : #71c6dd;
  --color-main-light : #e1f6fb;
  --color-dark       : #3f4156;
  --color-dark-medium: #51546e;
  --color-dark-light : #696d97;
  --color-light      : #e5e5e5;
  --color-gray       : #8b8b8b;
  --color-light-gray : #b2bdbd;
  --color-bg         : #2d2d39;
  --color-success    : #5dd693;
  --color-error      : #fc4b0b;
}

.LT-3 {
  --color-main       : #ff6f61;
  --color-main-light : #ffe5e0;
  --color-dark       : #4a4a4a;
  --color-dark-medium: #6b6b6b;
  --color-dark-light : #8c8c8c;
  --color-light      : #f5f5f5;
  --color-gray       : #a9a9a9;
  --color-light-gray : #cfcfcf;
  --color-bg         : #333333;
  --color-success    : #4caf50;
  --color-error      : #f44336;
}

.LT-4 {
  --color-main       : #ffb74d;
  --color-main-light : #fff3e0;
  --color-dark       : #5d4037;
  --color-dark-medium: #795548;
  --color-dark-light : #a1887f;
  --color-light      : #fafafa;
  --color-gray       : #bdbdbd;
  --color-light-gray : #e0e0e0;
  --color-bg         : #424242;
  --color-success    : #66bb6a;
  --color-error      : #e57373;
}

.LT-5 {
  --color-main       : #00f1ff;
  --color-main-light : #e3f2fd;
  --color-dark       : #0088ff;
  --color-dark-medium: #1976d2;
  --color-dark-light : #1565c0;
  --color-light      : #e8eaf6;
  --color-gray       : #4d3535;
  --color-light-gray : #fff1f1;
  --color-bg         : #212121;
  --color-success    : #81c784;
  --color-error      : #e57373;
}

.DT-1 {
  --color-main       : #0dbfef;
  --color-main-light : #e1f6fb;
  --color-dark       : #000000;
  --color-dark-medium: #1a1b25;
  --color-dark-light : #4b4d68;
  --color-light      : #e5e5e5;
  --color-gray       : #8b8b8b;
  --color-light-gray : #b2bdbd;
  --color-bg         : #0b0b0b;
  --color-success    : #5dd693;
  --color-error      : #fc4b0b;
}

.DT-2 {
  --color-main       : #0dbfef;
  --color-main-light : #e1f6fb;
  --color-dark       : #382e2e;
  --color-dark-medium: #282937;
  --color-dark-light : #565870;
  --color-light      : #e5e5e5;
  --color-gray       : #8b8b8b;
  --color-light-gray : #b2bdbd;
  --color-bg         : #13110c;
  --color-success    : #5dd693;
  --color-error      : #fc4b0b;
}

.DT-3 {
  --color-main       : #ff4081;
  --color-main-light : #ffe5ec;
  --color-dark       : #212121;
  --color-dark-medium: #424242;
  --color-dark-light : #616161;
  --color-light      : #e0e0e0;
  --color-gray       : #9e9e9e;
  --color-light-gray : #bdbdbd;
  --color-bg         : #121212;
  --color-success    : #4caf50;
  --color-error      : #f44336;
}

.DT-4 {
  --color-main       : #7c4dff;
  --color-main-light : #ede7f6;
  --color-dark       : #1a237e;
  --color-dark-medium: #303f9f;
  --color-dark-light : #3f51b5;
  --color-light      : #c5cae9;
  --color-gray       : #757575;
  --color-light-gray : #9e9e9e;
  --color-bg         : #0d0d0d;
  --color-success    : #66bb6a;
  --color-error      : #e57373;
}

.DT-5 {
  --color-main       : #ff9800;
  --color-main-light : #fff3e0;
  --color-dark       : #3e2723;
  --color-dark-medium: #5d4037;
  --color-dark-light : #795548;
  --color-light      : #d7ccc8;
  --color-gray       : #8d8d8d;
  --color-light-gray : #bdbdbd;
  --color-bg         : #1b1b1b;
  --color-success    : #1bdb25;
  --color-error      : #dd3d3d;
}

/*========== base styles ==========*/

* {
  font-family: "Quicksand", "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin        : 0;
  padding       : 0;
  box-sizing    : border-box;
  text-rendering: optimizeLegibility;
  font-size     : inherit;
}

html {
  font-size: 56.25%;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 75%;
  }
}

body {
  line-height     : 1.6;
  font-weight     : 400;
  font-size       : 1.5rem;
  color           : var(--color-light-gray);
  background-color: var(--color-bg);
  min-height      : 100vh;
}

img {
  width: 100%;
}

a {
  display        : inline-block;
  color          : var(--color-main);
  text-decoration: none;
}

/*========== components ==========*/
.container {
  max-width: 150rem;
  width    : 90%;
  margin   : auto;
  position : relative;
}

.btn {
  background-color: transparent;
  border          : none;
  display         : inline-flex;
  align-items     : center;
  gap             : 1rem;
  cursor          : pointer;
  transition      : all ease-in-out 0.3s;
  padding         : 1rem 2rem;
  border-radius   : 5px;
  box-shadow      : 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight     : 500;
}

.btn--link {
  border-radius: 0;
  padding      : 0;
  color        : var(--color-main);
  box-shadow   : none;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--main {
  background-color: var(--color-main);
  color           : var(--color-dark);
}

.btn:hover {
  opacity: 0.9;
}

.btn--dark {
  background-color: var(--color-dark-light);
  color           : var(--color-light);
}

.btn>svg {
  fill  : currentColor;
  width : 1.6rem;
  height: 1.6rem;
}

.btn--pill {
  border-radius: 10rem;
  font-size    : 1.4rem;
  font-weight  : 700;
  padding      : 6px 2.5rem;
  color        : var(--color-main);
  background   : transparent;
  border       : 2px solid var(--color-main);
}

.action-button {
  background: transparent;
  border    : none;
  outline   : none;
  cursor    : pointer;
}

.avatar {
  position     : relative;
  display      : inline-block;
  border-radius: 50%;
  border       : 2px solid var(--color-main);
}

.avatar img {
  display        : block;
  border-radius  : 50%;
  object-fit     : cover;
  object-position: center;
}

.avatar::after {
  content         : "";
  display         : block;
  position        : absolute;
  background-color: var(--color-gray);
  z-index         : 111;
  border-radius   : 50%;
  border          : 0.3rem solid var(--color-dark);
}

.avatar.active::after {
  background-color: var(--color-success);
}

.avatar.avatar--small img {
  width : 2.8rem;
  height: 2.8rem;
}

.avatar.avatar--small:after {
  width : 1rem;
  height: 1rem;
  bottom: 0px;
  right : -6px;
}

.avatar.avatar--medium img {
  width        : 3.6rem;
  height       : 3.6rem;
  border-radius: 50%;
}

.avatar.avatar--medium:after {
  width : 1rem;
  height: 1rem;
  bottom: 0px;
  right : -6px;
}

.avatar.avatar--large img {
  display      : block;
  width        : 8rem;
  height       : 8rem;
  border-radius: 50%;
}

.avatar.avatar--large:after {
  width : 2rem;
  height: 2rem;
  bottom: 2px;
  right : 3.5px;
}

/* New Overlay Styles */
.avatar__overlay {
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color           : white;
  display         : flex;
  align-items     : center;
  justify-content : center;
  font-size       : 16px;
  font-weight     : bold;
  opacity         : 0;
  cursor          : pointer;
  transition      : opacity 0.3s ease;
  border-radius   : 50%;
}

.avatar:hover .avatar__overlay {
  opacity: 1;
}

.scroll::-webkit-scrollbar {
  width           : 0.6rem;
  background-color: rgb(41, 41, 46);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius   : 1rem;
  background-color: var(--color-gray);
}

.dropdown-menu {
  z-index      : 111;
  position     : absolute;
  top          : 5rem;
  right        : 0.5rem;
  background   : var(--color-dark-light);
  border-radius: 5px;
  box-shadow   : 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  overflow     : hidden;
  display      : none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  padding    : 1.2rem 4rem;
  display    : block;
  color      : var(--color-light) !important;
  font-weight: 500;
  font-size  : 1.4rem;
}

.dropdown-menu a:hover {
  background-color: var(--color-dark-medium);
}

.dropdown-menu>a:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-medium);
}

.dropdown-menu a svg {
  fill: var(--color-light);
}

.themes {
  right: 0;
}

.mobile-menu {
  margin-bottom: 3rem;
}

.mobile-menuItems {
  display        : flex;
  align-items    : center;
  justify-content: center;
  gap            : 1rem;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__search {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu .header__search {
    display        : flex;
    margin-bottom  : 2.4rem;
    justify-content: center;
  }
}

/*==============================
=>  Header Section
================================*/

.header {
  padding         : 1rem;
  background-color: var(--color-dark);
}

.header>.container {
  display: flex;
  gap    : 9.5rem;
}

.header__logo,
.header__user {
  display    : flex;
  gap        : 2rem;
  align-items: center;
  transition : all 0.4s ease;
}

.header__logo>img {
  height: 3.2rem;
  width : 3.2rem;
}

.header__logo>h1 {
  font-weight: 700;
  font-size  : 2rem;
  color      : var(--color-light);
}

.header__logo:hover {
  cursor   : pointer;
  transform: translateY(-2px);
}

.header__search>label {
  background-color: var(--color-dark-medium);
  padding         : 1rem;
  display         : flex;
  align-items     : center;
  gap             : 1rem;
  border-radius   : 4rem;
  transition      : all 0.4s ease;
  width           : 100%;
}

.nav__search>label {
  width: 30rem;
}

.header__search>label svg {
  transition: all 0.4s ease;
}

.header__search svg {
  fill       : var(--color-gray);
  width      : 2rem;
  height     : 2rem;
  margin-left: 1rem;
}

.header__search input {
  width     : 100%;
  background: transparent;
  border    : none;
  outline   : none;
  color     : var(--color-light);
  transition: all 0.4s ease;
}

.header__search input:hover::placeholder,
.header__search input:focus::placeholder {
  transform: translateY(-1px);
  color    : var(--color-main);
}

.header__search input::placeholder {
  transition: all 0.4s ease;
}


@media screen and (max-width: 800px) {
  .header__search input {
    width: 100%;
  }

  .header>.container {
    gap: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .header__logo h1 {
    display: none;
  }
}

.header__menu {
  margin-left: auto;
  position   : relative;
  display    : flex;
  column-gap : 2rem;
}

.header__menu a {
  display        : flex;
  gap            : 1.5rem;
  align-items    : center;
  font-weight    : 500;
  text-decoration: none;
  color          : var(--color-gray);
  transition     : all 0.4s ease;
}

.header__menu a:hover {
  color    : var(--color-light);
  transform: translateY(-2px);
}

.header__menu img {
  height: 3.6rem;
}

.header__menu p {
  line-height: 1.2;
}

.header__menu span {
  color      : var(--color-main);
  font-weight: 500;
  font-size  : 1.4rem;
  display    : block;
}

.header__menu svg {
  width     : 1.6rem;
  height    : 1.6rem;
  fill      : var(--color-dark-light);
  transition: all 0.4s ease;
}

.dropdown-button svg:hover {
  fill     : var(--color-main);
  transform: translateY(-2px);
}

.dropdown-button {
  background: transparent;
  border    : 0;
  outline   : 0;
  cursor    : pointer;
}

.dropdown-button:hover svg {
  fill: var(--color-main);
}

/*==============================
=>  Layout
================================*/

.layout {
  margin-top: 2.4rem;
}

.layout>.container {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-start;
  gap            : 5rem;
}

.layout--3>.container>div:first-child {
  flex-basis: 25%;

}

.layout--3>.container>div:nth-child(2) {
  flex-basis: 50%;
}

.layout--3>.container>div:last-child {
  flex-basis      : 25%;
  background      : var(--color-dark-light);
  padding         : 1rem;
  border-radius   : 5px;
}

.layout--2>.container>div:first-child {
  flex-basis: 72%;
}

.layout--2>.container>div:last-child {
  flex-basis: 25%;
}

/*========== Layout Box ==========*/

.layout__box {
  width           : 90%;
  max-width       : 48rem;
  min-height      : 40rem;
  position        : absolute;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, 0%);
  background-color: var(--color-dark);
  border-radius   : 1rem;
  box-shadow      : 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow        : hidden;
}

.layout__boxHeader {
  display         : flex;
  padding         : 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle a {
  display    : flex;
  gap        : 1rem;
  align-items: center;
  transition : all 0.4s ease;
}

.layout__boxTitle a:hover {
  cursor   : pointer;
  transform: translateX(-4px);
}

.layout__boxTitle a:hover svg {
  fill: var(--color-main);
}

.layout__boxTitle a:hover h3 {
  color: var(--color-main);
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight   : 500;
  color         : var(--color-light);
}

.layout__boxTitle svg {
  width : 1.6rem;
  height: 1.6rem;
  fill  : var(--color-light);
}

.layout__body {
  margin: 3rem;
}

@media screen and (max-width: 900px) {

  .activities,
  .topics {
    display: none;
  }

  .layout--3>.container>div:nth-child(2) {
    flex-basis: 100%;
  }
}

/*==============================
=>  Topics
================================*/

.form__group {
  margin-bottom: 2rem;
  width        : 100%;
}

.form__group-child-container {
  display: flex;
  gap    : 1rem;
}

.form__group svg {
  width : 2rem;
  height: 2rem;
  fill  : var(--color-light-gray);
}

.form__group img {
  width : 2rem;
  height: 2rem;
  filter: invert(1);
}

.form__split {
  display: flex;
  gap    : 1.5rem;
}

.form__group label {
  display      : block;
  font-size    : 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  border          : 1px solid var(--color-dark-light);
  width           : 100%;
  color           : var(--color-light);
  font-weight     : 500;
  outline         : none;
  background-color: var(--color-dark-medium);
  padding         : 1rem;
  display         : flex;
  align-items     : center;
  gap             : 1rem;
  border-radius   : 4px;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background      : transparent;
  height          : 10rem;
  resize          : none;
  border          : 1px solid var(--color-dark-light);
  width           : 100%;
  color           : var(--color-light);
  font-weight     : 500;
  outline         : none;
  background-color: var(--color-dark-medium);
  padding         : 1rem;
  display         : flex;
  align-items     : center;
  gap             : 1rem;
  border-radius   : 4px;
  scrollbar-width : thin;
  scrollbar-color : #888 rgba(0, 0, 0, 0.671);
}

.form__group select {
  color      : var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color           : var(--color-light);
  padding         : 0 10rem;
}

.form__action {
  display        : flex;
  justify-content: flex-end;
  gap            : 2rem;
  margin-top     : 2rem;
}

.form__hide {
  position: absolute;
  left    : -9999px;
}

.form__avatar label {
  text-align : center;
  font-size  : 1.8rem;
  font-weight: 500;
  color      : var(--color-main);
  cursor     : pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}

/*==============================
=>  Topics
================================*/

.topics__header {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 1rem;
  background     : var(--color-dark-light);
  border-bottom  : 2px solid var(--color-dark-medium);
  margin-bottom  : 2rem;
}


.topics__header h2 {
  background-color: var(--color-dark-light);
  text-transform  : uppercase;
  font-weight     : 500;
  padding         : 1rem 1.5rem;
  color           : var(--color-light);
  letter-spacing  : 1px;
  font-size       : 1.4rem;

}

.topics__header svg {
  width : 2rem;
  height: 2rem;
  fill  : var(--color-light);
}

.topics__list {
  list-style: none;
}

.topics__list li a {
  display        : flex;
  justify-content: space-between;
  margin-bottom  : 3rem;
  font-weight    : 500;
  color          : var(--color-light-gray);
  transition     : all 0.3s ease-in-out;
}

.topics__list li a.active,
.topics__list li a:hover {
  color    : var(--color-main);
  transform: translateY(-2px);
}

.topic-count {
  padding         : 0.5rem 1rem;
  background-color: var(--color-dark);
  border-radius   : 3px;
  font-size       : 1.3rem;
  font-weight     : 700;
  letter-spacing  : 1px;
  max-height      : 3rem;
}

.Browse {
  background-color: var(--color-dark-medium);
}

.topics-page a:hover {
  text-decoration: underline;
}

.topics-page .topics__list li:not(:last-child) a {
  margin         : 2rem 0;
  padding-bottom : 1rem;
  text-decoration: none;
  border-bottom  : 1px solid var(--color-dark-medium);
}

.topics-page .topics__list li:last-child a {
  margin         : 2rem 0;
  padding-bottom : 1rem;
  text-decoration: none;
  border-bottom  : none;
}

.topics-page .header__search {
  display: block;
}



/*==============================
=>  Room List
================================*/

.roomList__header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin-bottom  : 2.4rem;
}

.roomList__header h2 {
  text-transform: uppercase;
  font-weight   : 500;
  color         : var(--color-light);
  letter-spacing: 1px;
}

.roomList__header p {
  font-weight  : 500;
  color        : var(--color-dark-light);
  border-top   : 1px solid var(--color-dark-medium);
  border-bottom: 1px solid var(--color-dark-medium);
}

/*========== Room List Room ==========*/

.roomListRoom {
  margin-bottom   : 2.4rem;
  background-color: var(--color-dark);
  border-radius   : 1rem;
  padding         : 2rem;
  transition      : all 0.3s ease;
}

.roomListRoom__header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin         : 1rem 0;
}

.roomListRoom__author {
  font-weight: 500;
  display    : flex;
  align-items: center;
  gap        : 1rem;
}

.roomListRoom__actions {
  display         : flex;
  align-items     : flex-start;
  gap             : 1rem;
  position        : relative;
  padding         : 5px 1.5rem;
  background-color: var(--color-dark-medium);
  border-radius   : 5rem;
  font-weight     : 500;
  font-size       : 1.3rem;
}

.roomListRoom__actions span {
  font-size  : 1.4rem;
  font-weight: 500;
}

.roomListRoom__actions svg {
  width : 1.6rem;
  height: 1.6rem;
}

.roomListRoom__content {
  margin : 3rem 0;
  color  : var(--color-light);
  display: block;
}

.roomListRoom__content h3 {
  font-size    : 2rem;
  font-weight  : 500;
  margin-bottom: 1.5rem;
  color        : var(--color-light);
  transition   : all 0.3s ease-in-out;
}

.roomListRoom__content:hover h3 {
  color: var(--color-main);
}

.roomListRoom__content p {
  background-color: var(--color-dark-medium);
  border-radius   : 0.5rem;
  padding         : 1rem 0.5rem;
}

.roomListRoom__meta {
  border-top     : 2px solid var(--color-dark-medium);
  padding-top    : 2rem;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.roomListRoom__joined {
  color           : var(--color-light-gray);
  display         : flex;
  align-items     : center;
  gap             : 1rem;
  padding         : 5px 1.5rem;
  background-color: var(--color-dark-medium);
  border-radius   : 5rem;
  font-weight     : 500;
  font-size       : 1.3rem;
}

.roomListRoom__joined svg {
  fill  : var(--color-main);
  width : 1.6rem;
  height: 1.6rem;
}

.roomListRoom__topic {
  padding         : 5px 1.5rem;
  background-color: var(--color-dark-medium);
  border-radius   : 5rem;
  font-weight     : 500;
  font-size       : 1.3rem;
}

/*==============================
=>  Activities
================================*/

.activities {
  background   : var(--color-dark);
  border-radius: 5px;
  overflow     : hidden;
  min-height   : 300px;
  margin-bottom: 3rem;
}

.activities__header {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 1rem 2rem;
  background     : var(--color-dark-light);
  border-bottom  : 2px solid var(--color-dark-medium);
}

.activities__header h2 {
  background-color: var(--color-dark-light);
  text-transform  : uppercase;
  font-weight     : 500;
  padding         : 1rem 1.5rem;
  color           : var(--color-light);
  letter-spacing  : 1px;
  font-size       : 1.4rem;
}

.activities__header svg {
  width : 2.5rem;
  height: 2.5rem;
  fill  : var(--color-light);
}

.activities__header svg>g>path {
  width : 2.5rem;
  height: 2.5rem;
  fill  : var(--color-light);
}

.activities__box {
  margin       : 1.5rem;
  padding      : 1.5rem;
  border       : 2px solid var(--color-dark-medium);
  border-radius: 5px;
  transition   : all 0.3s ease-in-out;
}

.activities__box:hover {
  transform: translate3d(0, -2px, 0);
}

.activities__boxHeader p {
  font-size  : 1.4rem;
  line-height: 1.3;
}

.activities__boxHeader p span {
  color      : var(--color-gray);
  font-size  : 1.2rem;
  display    : block;
  border-top : 1px solid var(--color-dark-medium);
  padding-top: 0.5rem;
}

.activities__boxContent {
  margin-left: 4.2rem;
  font-size  : 1.4rem;
}

.activities__boxContent p {
  background-color: var(--color-dark-medium);
  border-radius   : 0.5rem;
  padding         : 0.5rem;
}

.activities__boxContent a:hover {
  text-decoration: underline;
}

.activities__boxRoomContent {
  background   : var(--color-bg);
  padding      : 1rem;
  border-radius: 5px;
  margin-top   : 1rem;
  margin-left  : -4.2rem;
  word-break   : break-word;
  overflow-wrap: break-word;
}

.roomListRoom__actions svg {
  fill: var(--color-light-gray);
}

.roomListRoom__actions.insideActivities {
  transition: all 0.3s ease-in-out;
}

.roomListRoom__actions.insideActivities:hover {
  fill     : var(--color-main);
  transform: translateY(-2px);
}

.roomListRoom__actions.insideActivities svg {
  transition: all 0.3s ease-in-out;
}

.roomListRoom__actions.insideActivities:hover svg {
  fill     : var(--color-main);
  transform: translateY(-2px);
}

/*==============================
=>  Create Room
================================*/

.create-room.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Update Account
================================*/

.update-account.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Delete Item
================================*/

.delete-item.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Auth
================================*/

.auth__tagline {
  text-align   : center;
  margin-bottom: 3rem;
  color        : var(--color-main);
  font-weight  : 500;
  font-size    : 1.8rem;
}

.auth .layout__boxHeader {
  text-align     : center;
  justify-content: center;
}

.auth__action {
  margin-top: 3rem;
  text-align: center;
}

/*==============================
=>  Settings
================================*/

.settings__avatar {
  margin-bottom  : 3rem;
  text-align     : center;
  margin         : 0 auto;
  display        : flex;
  justify-content: center;
}

.settings__avatar .avatar {
  margin: 1rem;
}

/*==============================
=>  Profile
================================*/
.profile {
  margin-bottom: 3rem;
}

.profile__avatar {
  text-align: center;
}

.profile__info {
  text-align: center;
}

.profile__info h3 {
  font-size  : 2rem;
  color      : var(--color-light);
  font-weight: 400;
}

.profile__info p {
  color        : var(--color-main);
  font-weight  : 500;
  margin-bottom: 1rem;
}

.profile__about {
  margin-top: 2rem;
}

.profile__about h3 {
  text-transform: uppercase;
  color         : var(--color-dark-light);
  margin-bottom : 0.5rem;
  border-bottom : 1px solid var(--color-dark-medium);
}

.profile-page .roomList__header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-dark-medium);
}

.profile-page .roomList__header h2 {
  color: var(--color-dark-light);
}

/*==============================
=>  Room
================================*/

.room,
.participants {
  background   : var(--color-dark);
  max-height   : 87.5vh;
  border-radius: 0.7rem;
  overflow     : hidden;
  position     : relative;
  height       : 82.5vh;
}

@media screen and (max-width: 900px) {
  .participants {
    display: none;
  }

  .layout--2>.container>div:first-child {
    flex-basis: 100%;
  }
}

.room__top,
.participants__top {
  background     : var(--color-dark-light);
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 1rem 2rem;
  position       : relative;
}

.room__top svg,
.thread__top svg {
  width : 1.6rem;
  height: 1.6rem;
  fill  : var(--color-light);
  cursor: pointer;
}

.room__topLeft {
  display: flex;
}

.room__topLeft a {
  display    : flex;
  align-items: center;
  gap        : 1rem;
  transition : all 0.3s ease;
}

.room__topLeft a:hover {
  cursor   : pointer;
  transform: translateX(-4px);
}

.room__topLeft a:hover svg {
  fill: var(--color-main);
}

.room__topLeft a:hover h3 {
  color: var(--color-main);
}

.room__topLeft h3,
.participants__top {
  text-transform: uppercase;
  font-weight   : 500;
  margin-bottom : 0;
  color         : var(--color-light);
}

.room__topLeft svg {
  width : 1.6rem;
  height: 1.6rem;
  fill  : var(--color-light);
}

.room__topRight {
  display   : flex;
  column-gap: 1em;
}

.room__topRight svg {
  fill: var(--color-main-light);
}

.room__header {
  max-height    : 30vh;
  overflow-y    : auto;
  background    : var(--color-dark);
  z-index       : 1;
  top           : 4.4rem;
  padding-top   : 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .room__header {
    top          : 6.3rem;
    padding-right: 2rem;
  }
}

.room__box {
  padding-left  : 2rem;
  padding-right : 2rem;
  height        : 75.5vh;
  overflow-y    : auto;
  padding-bottom: 0;
  display       : flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .room__box {
    padding-left  : 2.5rem;
    padding-right : 2rem;
    height        : 80.5vh;
    overflow-y    : auto;
    padding-bottom: 0;
  }
}

.room__info {
  display        : flex;
  justify-content: space-between;
}

.room__info span {
  padding         : 5px 1.5rem;
  background-color: var(--color-dark-medium);
  border-radius   : 5rem;
  font-weight     : 500;
  font-size       : 1.3rem;
  display         : flex;
  align-items     : center;
}

.room__info h3 {
  font-size  : 2.4rem;
  font-weight: 500;
  color      : var(--color-main);
}

.room__hosted p {
  text-transform: uppercase;
  color         : var(--color-gray);
  font-size     : 1.2rem;
  font-weight   : 700;
  line-height   : 2;
}

.room__author {
  display      : flex;
  gap          : 1rem;
  align-items  : center;
  margin-bottom: 1rem;
  max-width    : max-content;
  transition   : all 0.3s ease-in-out;
}

.room__author:hover {
  transform: translate3d(0, -2px, 0);
}

.room__topics {
  padding      : 0.5rem 1.5rem;
  background   : var(--color-dark-light);
  color        : var(--color-light);
  display      : inline-block;
  font-size    : 1.4rem;
  border-radius: 1.5rem;
  margin       : 1rem 0;
}

.room__conversation {
  display       : flex;
  height        : 65%;
  width         : 100%;
  flex-direction: column;
}

.threads h3 {
  text-transform: uppercase;
  font-weight   : 500;
  color         : var(--color-gray);
}

.threads {
  background         : var(--color-bg);
  border-radius      : 0.7rem;
  overflow-y         : auto;
  height             : 100%;
  padding            : 1rem 2rem;
  width              : 100%;
}

.thread {
  border-left : 2px solid var(--color-dark);
  padding-left: 1rem;
  margin      : 2rem 0;
  padding     : 2rem;
}

.thread__top {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.thread__top svg {
  fill: var(--color-dark-light);
}

.thread__author {
  display    : flex;
  align-items: center;
  gap        : 1.5rem;
  font-size  : 1.4rem;
}

.thread__authorInfo {
  display    : flex;
  align-items: center;
  gap        : 1rem;
}

.thread__details {
  font-size    : 1.4rem;
  margin-top   : 0.5rem;
  background   : var(--color-dark-medium);
  padding      : 1rem;
  border-radius: 1rem;
}

.room__message {
  z-index         : 111;
  background-color: var(--color-dark-light);
  color           : var(--color-light);
  border          : none;
  outline         : none;
  border-radius   : 0.7rem;
  height          : 5.5rem;
  width           : 100%;
  margin-top      : -1rem;
  font-size       : 2rem;
  font-weight     : 500;
}

.room__message>form>input {
  background: var(--color-dark-light);
  border    : none;
  width     : 100%;
  height    : 80%;
  margin    : 0 1rem;
  padding   : 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

.room__message>form>input:focus {
  border    : none;
  outline   : none;
  color     : var(--color-light-gray);
  transition: all 0.3s ease-in-out;
}

.room__message>form>input::placeholder {
  color     : var(--color-light-gray);
  transition: all 0.3s ease-in-out;

}

.room__message>form>input:hover::placeholder,
.room__message>form>input:focus::placeholder {
  color    : var(--color-main);
  transform: translate3d(0, -2px, 0);
}

.participants__top h3 {
  color: var(--color-main);
}

.participants__top span {
  color: var(--color-light);
}

.participants__top {
  gap            : 5rem;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.participants__list {
  padding       : 2rem;
  overflow-y    : auto;
  height        : 100%;
  padding-bottom: 4rem;
}

.participant {
  display      : flex;
  align-items  : center;
  gap          : 1.5rem;
  margin-bottom: 2rem;
  padding      : 1rem;
  transition   : all 0.3s ease-in-out;
}

.participant:hover {
  transform: translate3d(0, -2px, 0);
}


.participant p {
  color      : var(--color-light-gray);
  line-height: 1.2;
}

.participant span {
  display    : block;
  font-weight: 500;
  color      : var(--color-main);
  font-weight: 1.4rem;
}

.short-text {
  overflow     : hidden;
  white-space  : nowrap;
  text-overflow: ellipsis;
  margin       : 0;
}

.PLFWM {
  resize          : none;
  background-color: var(--color-dark-light);
  color           : var(--color-light);
  border          : none;
  outline         : none;
  border-radius   : 0.7rem;
  height          : 4.5rem;
  width           : 100%;
  margin-top      : -1rem;
  padding         : 1.2rem;
  padding-top     : 2rem;
  font-size       : 1.4rem;
  font-weight     : 500;
  display         : flex;
}

/* Modal Overlay */
.modal {
  display         : none;
  justify-content : center;
  align-items     : center;
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(45, 45, 57, 0.8);
  z-index         : 1000;
}

/* Modal Content */
.modal-content {
  background-color: var(--color-dark);
  padding         : 1.5rem;
  border-radius   : 10px;
  width           : 350px;
  max-width       : 90%;
  text-align      : center;
  color           : var(--color-light);
}


/* Modal Header */
.modal-content h3.layout__boxHeader {
  display                : flex;
  padding                : 1rem;
  background-color       : var(--color-dark-light);
  margin                 : 0;
  border-top-left-radius : 8px;
  border-top-right-radius: 8px;
  font-size              : 1.5rem;
  color                  : var(--color-light);
  justify-content        : center;
}

/* Avatar Preview Section */
.avatar-preview {
  display        : flex;
  justify-content: center;
  margin         : 1.5rem 0;
}

.avatar-preview img {
  width        : 120px;
  height       : 120px;
  border-radius: 50%;
  object-fit   : cover;
  box-shadow   : 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Modal Actions */
.modal-actions {
  display        : flex;
  justify-content: space-between;
  margin-top     : 1.5rem;
}

/* Button Styling */
.button {
  padding      : 10px 20px;
  border-radius: 5px;
  cursor       : pointer;
  color        : #fff;
  font-weight  : 500;
}

.button.save {
  background-color: #71c6dd;
  color           : var(--color-dark);
}

.dropdown-container {
  position: relative;
}

.off-screen-menu ul,
li {
  list-style     : none;
  text-decoration: none;
  padding        : 0;
  margin         : 0;
}

.off-screen-menu {
  z-index      : 111;
  position     : absolute;
  top          : 5rem;
  right        : 0.5rem;
  background   : var(--color-dark-light);
  border-radius: 5px;
  box-shadow   : 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  overflow     : hidden;
  display      : none;
}

.off-screen-menu.active {
  display: block;
}

.off-screen-menu a {
  padding    : 1.2rem 2rem;
  display    : flex;
  color      : var(--color-light) !important;
  font-weight: 500;
  font-size  : 1.4rem;
}

.off-screen-menu svg {
  width : 1.6rem;
  height: 1.6rem;
  fill  : var(--color-light);
}

.off-screen-menu a:hover {
  background-color: var(--color-dark-medium);
  cursor          : pointer;
}

.color-theme-menu {
  height     : 50px;
  width      : 50px;
  margin-left: auto;
  position   : relative;
}

.color-theme-menu svg {
  height    : 50px;
  width     : 100%;
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  transition: .3s ease;
}

.color-theme-menu.active svg,
.color-theme-menu svg:hover {
  fill : var(--color-main);
  scale: 1.1;
}

.file-upload {
  width           : 30px;
  height          : 30px;
  display         : inline-flex;
  cursor          : pointer;
  background-color: var(--color-light);
  border-radius   : 50%;
  border          : 2px solid transparent;
  transition      : background-color 0.3s ease, fill 0.3s ease;
}

.file-upload svg {
  fill      : black;
  transition: fill 0.3s ease;
}

.file-upload:hover {
  background-color: var(--color-main) !important;
}

/* .file-upload:hover svg {
  fill: var(--color-bg);
} */


.for__group {
  display: inline;
}

.for__group-container {
  display: flex;
  gap    : 1rem;
}

.alerting {
  background-color: var(--color-error);
}

#messageForm {
  display        : flex;
  height         : 100%;
  justify-content: center;
  align-items    : center;
  padding        : 0 1rem;
  position       : relative;
}

.uploaded-image {
  width: 150px;
}

input:-webkit-autofill {
  box-shadow             : 0 0 0px 1000px var(--color-light-gray) inset !important;
  -webkit-text-fill-color: var(--color-bg) !important;
  border-radius          : 0.5rem;
  transition             : box-shadow 0.3s ease-in-out;
}

#messageInput:-webkit-autofill,
.header__search>label>input:-webkit-autofill {
  box-shadow             : 0 0 0px 1000px var(--color-dark) inset !important;
  -webkit-text-fill-color: var(--color-light) !important;
  border-radius          : 0.5rem;
  transition             : box-shadow 0.3s ease-in-out;
}

.header__search>label:hover {
  transform: translateY(-2px);
}

.header__search>label:hover svg,
.header__search>label>input:focus+svg {
  fill     : var(--color-main);
  transform: translateY(-2px);
}

.createRoom {
  display  : none;
  color    : var(--color-bg);
  font-size: 1.6rem;
}

.circle {
  display         : flex;
  background-color: var(--color-main);
  width           : 50px;
  height          : 50px;
  transition      : all 0.4s ease-in-out;
  justify-content : center;
  align-items     : center;
}

.circle:hover svg {
  fill : var(--color-bg);
  width: 20px;
}

.circle {
  border-radius: 100%;
}

.circle:hover {
  border-radius   : 1rem;
  width           : 170px;
  gap             : 1rem;
  cursor          : pointer;
  background-color: var(--color-dark);
  scale           : 1.1;
  box-shadow      : 0 3px 10px 0px var(--color-main);
}

.circle:hover svg,
.circle:hover span {
  fill : var(--color-light);
  color: var(--color-light);
}

.circle:hover .createRoom {
  display: inline;
}

/*==============================
=>  Styles For Media Files
================================*/

.fileInput-holder {
  min-height      : 350px;
  position        : absolute;
  width           : 100%;
  bottom          : 0;
  z-index         : -100;
  margin          : 0;
  padding         : 0;
  background-color: var(--color-dark-light);
  display         : none;
  border-radius   : 1rem;
}

.EachInput {
  display         : block;
  background-color: var(--color-dark-medium);
  height          : 200px;
  margin          : 1rem;
  position        : relative;
  border-radius   : .5rem .5rem 0rem 0rem;
}

.EachInput svg {
  color: var(--color-error);
}

.fileUpload {
  position        : absolute;
  top             : 0;
  right           : 0;
  display         : flex;
  justify-content : flex-end;
  padding         : 0rem 0rem .25rem .25rem;
  background-color: var(--color-dark);
}

.fileUpload-name {
  color           : #fff;
  display         : block;
  width           : 100%;
  min-height      : 55px;
  padding         : 5px;
  font-size       : 14px;
  text-align      : center;
  word-break      : break-word;
  overflow-wrap   : break-word;
  background-color: var(--color-dark);
  margin-bottom   : 0;
  border-radius   : 0 0 .5rem .5rem;
}

.fileUpload-img {
  width        : 100%;
  height       : 100%;
  object-fit   : cover;
  border       : 5px solid var(--color-dark);
  border-radius: .5rem .5rem 0rem 0rem;
}

.file-icon {
  margin-right  : 10px;
  vertical-align: middle;
  width         : 50px;
  height        : 50px;
}

.file-link {
  font-size      : 16px;
  font-weight    : bold;
  color          : var(--color-light-gray);
  text-decoration: none;
  margin         : 0;
}

.message__file img {
  margin-top   : 1rem;
  border-radius: 0.5rem;
}

/* Remove & Edit Buttons */
.fileUpload-remove,
.fileUpload-edit {
  display         : flex;
  align-items     : center;
  justify-content : center;
  height          : 34px;
  cursor          : pointer;
  position        : absolute;
  padding-bottom  : 5px;
  z-index         : 100;
  width           : max-content;
  border-radius   : 0.5rem;
  background-color: var(--color-dark);
  transition      : all 0.2s ease-in-out;
}

.fileUpload-remove {
  top  : 0;
  right: 0;

}

.fileUpload-edit {
  top : 0;
  left: 0;
}

.fileUpload-remove:hover,
.fileUpload-edit:hover {
  scale: 1.1;
}

/* Edit Modal Styles */
.editFileModal {
  padding   : 0;
  min-height: 0;
  position  : unset;
  transform : none;
}

.message__file {
  display    : flex;
  align-items: center;
  gap        : 1rem;
}

.thread__actions {
  display: flex;
  gap    : 1.5rem;
}

.message__file--audio,
.message__file--video {
  flex-direction: column;
}

.message__file--audio audio {
  width     : 100%;
  margin-top: 1rem;
}

.message__file--video video {
  width        : 100%;
  margin-top   : 1rem;
  border-radius: 0.5rem;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: var(--color-main);
  color           : #000;
}

.roomListRoom:hover {
  transform : translateY(-5px);
  box-shadow: 0 2px 20px 0px var(--color-main);
}

.pagination {
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin         : 2rem 0;
}

.pagination button {
  padding         : 5px 10px;
  margin          : 0 5px;
  border          : none;
  border-radius   : 1rem;
  background-color: var(--color-main);
  color           : var(--color-bg);
  cursor          : pointer;
  transition      : all 0.4s ease-in-out;
}

.pagination button:hover {
  background-color: var(--color-dark);
  color           : var(--color-light);
  scale           : 1.1;
  box-shadow      : 0 0px 7px -1px var(--color-main);
}


/* Audio Input Section (Recording) */
#audioContainer {
  display      : none;
  width        : 100%;
  max-width    : 400px;
  background   : var(--color-dark-light);
  padding      : 1rem;
  border-radius: 8px;
  box-shadow   : 0px 2px 10px rgba(0, 0, 0, 0.1);
  position     : fixed;
  bottom       : 0;
  transform    : translate(-20%, -85%);
  min-height   : 195px;
}

#audioVisualizer {
  width        : 100%;
  height       : 50px;
  background   : var(--color-dark-medium);
  border-radius: 4px;
  margin-bottom: 10px;
}

#audioPreview {
  width        : 100%;
  max-width    : 400px;
  margin-top   : 10px;
  border-radius: 5px;
}

#removeAudio {
  display         : inline-block;
  background-color: #f44336;
  color           : white;
  padding         : 5px 10px;
  font-size       : 14px;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  margin-top      : 10px;
}

#removeAudio:hover {
  background-color: #d32f2f;
}

/* Audio Mic Button (During Recording) */
.micInput {
  cursor       : pointer;
  display      : inline-block;
  padding      : 0.5rem;
  border-radius: 3rem;
  transition   : background-color 0.3s ease;
  margin-right : 1rem;
}

.micInput:hover {
  background: var(--color-main);
}

.micInput svg {
  width : 24px;
  height: 24px;
  fill  : white;
}

.micInput svg:hover {
  fill: var(--color-bg);
}

#micButton {
  display: block;
}

.message__file audio {
  border-radius: 8px;
}

.audiofileInput-container {
  display        : flex;
  align-items    : center;
  gap            : 1rem;
  justify-content: flex-end;
}


#pauseAudio {
  background-color: #007bff;
  color           : white;
  border          : none;
  padding         : 10px 15px;
  font-size       : 16px;
  cursor          : pointer;
  border-radius   : 5px;
  transition      : background 0.3s ease-in-out;
  display         : flex;
  align-items     : center;
  gap             : 5px;
}

#pauseAudio:hover {
  background-color: #0056b3;
}

#pauseAudio svg {
  width : 18px;
  height: 18px;
  fill  : white;
}

.message__audio audio {
  width        : 100%;
  border-radius: 8px;
}

.roomList {
  margin-bottom: 3rem;
}


/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-actions-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.btn--danger {
  background-color: #dc3545;
  color: white;
}
