{% extends 'base/main.html' %}
{% load static %}
{% block text %}
  <main class="create-room layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="{{request.META.HTTP_REFERER}}">
              <svg version="1.1"
                   xmlns="http://www.w3.org/2000/svg"
                   width="32"
                   height="32"
                   viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
              </svg>
              <h3>Create/Update Study Room</h3>
            </a>
          </div>
        </div>
        <div class="layout__body">
          <form class="form" action="" method="POST">
            {% csrf_token %}
            <div class="form__group">
              <div class="form__group-child-container">
                <label for="room_topic">Enter a Topic</label>
                <svg enable-background="new 0 0 24 24"
                     height="32"
                     viewBox="0 0 24 24"
                     width="32"
                     xmlns="http://www.w3.org/2000/svg">
                  <title>edit</title>
                  <g>
                  <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                  </g>
                  <g>
                  <g>
                  <path d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z" />
                  </g>
                  <g>
                  <path d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z" />
                  </g>
                  </g>
                </svg>
              </div>
                <input required
                       type="text"
                       value="{{ room.topic.name }}"
                       name="topic"
                       list="topic-list">
                <datalist id="topic-list">
                  <select id="room_topic">
                    {% for topic in topics %}<option value="{{ topic.name }}">{{ topic.name }}</option>{% endfor %}
                  </select>
                </datalist>
              </div>
              <div class="form__group">
                <div class="form__group-child-container">
                  <label for="room_name">Room Name</label>
                  <img src="{% static 'Images/writing.png' %}" alt="">
                </div>
                {{ form.name }}
              </div>
              <div class="form__group">
                <div class="form__group-child-container">
                  <label for="room_description">Room Description</label>
                  <svg xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink"
                       height="800px"
                       width="800px"
                       version="1.1"
                       id="Artwork"
                       viewBox="0 0 512 512"
                       enable-background="new 0 0 512 512"
                       xml:space="preserve">
                    <g>
                    <path d="M436.7,445.7V66.3c0-30.4-24.7-55.1-55.1-55.1H130.4c-30.4,0-55.1,24.7-55.1,55.1v379.4c0,30.4,24.7,55.1,55.1,55.1h251.2   C412,500.8,436.7,476.1,436.7,445.7z M99.8,445.7V66.3c0-16.9,13.7-30.6,30.6-30.6h251.2c16.9,0,30.6,13.7,30.6,30.6v379.4   c0,16.9-13.7,30.6-30.6,30.6H130.4C113.5,476.3,99.8,462.6,99.8,445.7z" />
                    <path d="M381.8,93.3c0-6.8-5.5-12.3-12.3-12.3h-227c-6.8,0-12.3,5.5-12.3,12.3v325.4c0,6.8,5.5,12.3,12.3,12.3h227   c6.8,0,12.3-5.5,12.3-12.3V93.3z M357.3,406.5H154.7V105.5h202.5V406.5z" />
                    <path d="M196.9,204.5h118.2c6.8,0,12.3-5.5,12.3-12.3c0-6.8-5.5-12.3-12.3-12.3H196.9c-6.8,0-12.3,5.5-12.3,12.3   C184.6,199,190.1,204.5,196.9,204.5z" />
                    <path d="M196.9,268.3h118.2c6.8,0,12.3-5.5,12.3-12.3s-5.5-12.3-12.3-12.3H196.9c-6.8,0-12.3,5.5-12.3,12.3   S190.1,268.3,196.9,268.3z" />
                    <path d="M196.9,332h82.8c6.8,0,12.3-5.5,12.3-12.3s-5.5-12.3-12.3-12.3h-82.8c-6.8,0-12.3,5.5-12.3,12.3S190.1,332,196.9,332z" />
                    </g>
                  </svg>
                </div>
                {{ form.description }}
              </div>
              <div class="form__action">
                <a class="btn btn--dark" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                <button class="btn btn--main" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  {% endblock text %}
